@model SuiteLevelWebApp.Models.AddInspectorViewModel
@{
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
    ViewBag.Title = "Add Inspector Complete";

}


    <div class="container body-content home">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bg-gray-light">
            <div class="row">
                <ul>
                    <li class="left-panel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="details">
                            <h1>
                                Add Inspector Complete
                            </h1>
                        </div>
                    </li>
                    <li class="right-panel col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <!-- Inspectors begin-->
                        <div>
                            <h1>
                                Inspector Added
                            </h1>
                            <div class="detail">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


